accessible-pygments 
alabaster==0.7.16
anyascii==0.3.2
anyio 
appnope==0.1.4
argon2-cffi 
argon2-cffi-bindings 
arrow 
astroid==3.1.0
asttokens==2.4.1
async-lru 
attrs==23.2.0
Babel==2.14.0
beautifulsoup4 
bleach 
bokeh==3.3.4
Brotli 
cached-property 
certifi==2024.2.2
cffi 
charset-normalizer==3.3.2
click==8.1.7
colorama 
colorcet==3.1.0
comm==0.2.1
contourpy==1.2.0
cycler==0.12.1
dataclasses 
debugpy==1.8.1
decorator==5.1.1
defusedxml 
docutils==0.20.1
entrypoints 
exceptiongroup==1.2.0
executing==2.0.1
Faker==24.4.0
fastjsonschema==2.19.1
fonttools==4.49.0
fqdn 
greenlet 
h11 
h2 
holoviews==1.18.3
hpack==4.0.0
httpcore 
httpx 
hyperframe 
idna==3.6
imagesize==1.4.1
importlib_metadata==7.0.2
importlib_resources 
iniconfig==2.0.0
ipykernel==6.29.3
ipython==8.22.2
ipywidgets 
isoduration 
jedi==0.19.1
Jinja2==3.1.3
joblib 
json5 
jsonpointer 
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
jupyter 
jupyter-book 
jupyter-cache==1.0.0
jupyter-console 
jupyter-events 
jupyter-lsp 
jupyter_client==8.6.0
jupyter_core==5.7.1
jupyter_server 
jupyter_server_terminals 
jupyterlab 
jupyterlab-spellchecker 
jupyterlab_pygments 
jupyterlab_server 
jupyterlab_widgets 
kiwisolver==1.4.5
latexcodec 
linkify-it-py 
Markdown==3.6
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.8.3
matplotlib-inline==0.1.6
mdit-py-plugins==0.4.0
mdurl==0.1.2
mistune 
mtbp3
munkres==1.1.4
myst-nb==1.0.0
myst-parser==2.0.0
nbclient==0.9.0
nbconvert 
nbformat==5.9.2
nest-asyncio==1.6.0
networkx 
notebook 
notebook_shim 
numpy==1.26.4
overrides 
packaging==24.0
pandas==2.2.1
pandocfilters 
panel==1.3.8
param==2.0.2
parso==0.8.3
patsy 
pexpect==4.9.0
pickleshare 
pillow==10.2.0
pkgutil_resolve_name 
platformdirs==4.2.0
pluggy==1.4.0
prometheus_client 
prompt-toolkit==3.0.43
psutil==5.9.8
ptyprocess==0.7.0
pure-eval==0.2.2
pybtex 
pybtex-docutils 
pycparser 
pydata-sphinx-theme==0.15.2
Pygments==2.17.2
#pyobjc-core 
#pyobjc-framework-Cocoa 
pyparsing==3.1.2
pySankey==0.0.1
PySocks 
pytest==8.1.1
python-dateutil==2.9.0.post0
python-json-logger 
pytz==2024.1
pyviz_comms==3.0.1
PyYAML==6.0.1
pyzmq==25.1.2
qtconsole 
QtPy 
referencing==0.33.0
requests==2.31.0
rfc3339-validator 
rfc3986-validator 
rpds-py==0.18.0
scikit-learn 
scipy 
seaborn==0.13.2
Send2Trash 
six==1.16.0
sniffio 
snowballstemmer==2.2.0
soupsieve 
Sphinx==7.2.6
sphinx-autoapi==3.0.0
sphinx-book-theme==1.1.2
sphinx-comments 
sphinx-copybutton 
sphinx-jupyterbook-latex 
sphinx-multitoc-numbering 
sphinx-rtd-theme==2.0.0
sphinx-thebe 
sphinx-togglebutton 
sphinx_design 
sphinx_external_toc 
sphinxcontrib-applehelp==1.0.8
sphinxcontrib-bibtex 
sphinxcontrib-devhelp==1.0.6
sphinxcontrib-htmlhelp==2.0.5
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.7
sphinxcontrib-serializinghtml==1.1.10
SQLAlchemy==2.0.28
stack-data==0.6.3
statsmodels 
tabulate==0.9.0
terminado 
threadpoolctl 
tinycss2 
tomli==2.0.1
tornado==6.4
tqdm==4.66.2
traitlets==5.14.1
types-python-dateutil 
typing-utils 
typing_extensions==4.10.0
tzdata==2024.1
uc-micro-py 
unicodedata2 
uri-template 
urllib3==2.2.1
wcwidth==0.2.13
webcolors 
webencodings 
websocket-client 
widgetsnbextension
xyzservices==2023.10.1
zipp==3.17.0
